<html>
<head>
  <meta http-equiv="refresh" content="1">
</head>
<body>
  {% for p in puertos %}
      {{p.boca}} - {{"${:.2f}".format(p.porsegundo)}} Mbit/s - {{ "${:.2f}".format(p.promedio)}} Mbit/s <br>
  {% endfor %}
</body>
</html>
