<html>
<head>
  <meta http-equiv="refresh" content="1">
</head>
<body>
  <table>
      <tr>
        <!-- <th>Bytes Entrada</th> -->
        <!-- <th>Bytes Salida</th> -->
        <!-- <th>Bytes Entrada Promedio</th> -->
        <!-- <th>Bytes Salida Promedio</th> -->
        <th>Bytes Total Promedio</th>
        <!-- <th>Paquetes Entrada</th> -->
        <!-- <th>Paquetes Salida</th> -->
        <!-- <th>Paquetes Entrada Promedio</th> -->
        <!-- <th>Paquetes Salida Promedio</th> -->
        <th>Paquetes Promedio Total</th>

        <th>Errores Entrada Promedio</th>
        <th>Errores Salida Promedio</th>

      </tr>

  {% for p in puertos %}
      <tr>
        <td>{{p.boca}}</td>
        <!-- <td>{{"{:.2f}".format(p.entrada.porsegundo)}} Mbit/s</td> -->
        <!-- <td>{{"{:.2f}".format(p.salida.porsegundo)}} Mbit/s</td> -->
        <!-- <td>{{ "{:.2f}".format(p.entrada.promedio)}} Mbit/s</td> -->
        <!-- <td>{{ "{:.2f}".format(p.salida.promedio)}} Mbit/s</td> -->
        <td>{{ "{:.2f}".format(p.salida.promedio + p.entrada.promedio)}} Mbits/s</td>
        <!-- <td>{{ "{:.2f}".format(p.paquetes_entrada.porsegundo)}} Pks/s</td> -->
        <!-- <td>{{ "{:.2f}".format(p.paquetes_salida.porsegundo)}} Pks/s</td> -->
        <!-- <td>{{ "{:.2f}".format(p.paquetes_entrada.promedio)}} Pks/s</td> -->
        <!-- <td>{{ "{:.2f}".format(p.paquetes_salida.promedio)}} Pks/s</td> -->
        <td>{{ "{:.2f}".format(p.paquetes_salida.promedio + p.paquetes_entrada.promedio)}} Pks/s</td>

        <td>{{ "{:.2f}".format(p.errores_entrada.promedio)}} E/s</td>
        <td>{{ "{:.2f}".format(p.errores_salida.promedio)}} E/s</td>


      </tr>
  {% endfor %}

  </table>

  <table>
    <tr>
    <tr><th>Bytes Total</th><th>Paquetes Total</th></tr>
    <tr><td>{{"{:.2f}".format(estadisticas.bytes_total)}} Mbit/s</td><td>{{"{:.2f}".format(estadisticas.paquetes_total / 1000)}} KPks/s</td></tr>
    </tr>
  </table>

</body>
</html>
